<% layout('/layouts/boilerplate') %>

  <div class="row">
    <h1 class="text-center">Edit campground</h1>
    <div class="col-md-6 offset-md-3">
      <form action="/campgrounds/<%= campgrounds._id%>?_method=PUT " method="POST" novalidate class="validated-form"
        enctype="multipart/form-data">
        <div class="mb-3">
          <label class="form-label" for="title">Title</label>
          <input class="form-control" type="text" id="title" name="campground[title]" value="<%=campgrounds.title%>"
            required>
        </div>
        <div class="mb-3">
          <label class="form-label" for="location" location">Location</label>
          <input class="form-control" type="text" id="location" name="campground[location]"
            value="<%=campgrounds.location%>" required>
        </div>
        <div class="mb-3">
          <label class="form-label" for="image" location">Add images</label>
          <input type="file" name="image" id="image" multiple>
        </div>
        <div class="mb-3">
          <% campgrounds.images.forEach(function(img,i) { %>
            <img src="<%= img.thumbnail%>" class="img-thumbnail" alt="">
            <div class="form-chech-inline">
              <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%= img.filename %>">
            </div>
            <label for="image-<%=i%>">delete</label>
            <%}) %>

        </div>
        <div class="mb-1">
          <label for="price" class="form-label">Campground Price</label>
          <div class="col-auto">
            <label class="visually-hidden" for="autoSizingInputGroup">Username</label>
            <div class="input-group">
              <span calss="input-group-text" id="plabel"></span>
              <div class="input-group-text">$</div>
              <input type="text" class="form-control" id="Price" placeholder="0.00" aria-describedby="plabel"
                name="campground[price]" value="<%=campgrounds.price%> " required>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="discr" location">Description</label>
          <textarea class="form-control" type="text" id="discr" name="campground[description]"
            required> <%=campgrounds.description%></textarea>
        </div>
        <div class="mb-3">
          <button class="btn btn-dark">Change campground</button>
        </div>
      </form>
      <div>
        <a href="/campgrounds/<%=campgrounds._id%> ">BACK</a>
      </div>
    </div>
  </div>